ul {
  display: none;
  text-decoration: none;
}

input:checked ~ ul {
  display: block;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: none;
}

label {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
label:hover {
  background: black;
}

/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
  background: black;
}

ul {
  margin-top: 0;
  padding: 0;
  width: 375px;
  height: 776px;
  max-width: auto;
  max-height: 100%;
}
.link {
  text-decoration: none;
  color: white;
}

li {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 15px;
  color: white;
  padding: 10px;
  list-style: none;
  /* border-bottom: 1px solid grey; */
}
#link1 {
  border-bottom: 2px solid #ffffff;
  padding: 5px;
}
/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
  filter: brightness(110%);
}
